@font-face {
    font-family: 'jeko-medium';
    src: url(/src/Assets/Jeko\ Medium.ttf) format('truetype')
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 20px;
    max-width: 90%;
    margin: auto;
    border-bottom: 1px solid white;
}

.nav-items {
    display: flex;
    justify-content: space-evenly;
    gap:25px;
    font-size: 18px;
    font-weight: 100;
    list-style: none;
    font-family: 'DM Sans';
}

.logo {
    max-width: 1250px;
}


.nav-items li a {
    text-decoration: none;
    color: white;
    
}

.nav-items li a:hover {
    text-decoration: underline;
}

/* .page {
    max-width: 90%;
    margin: auto;
} */

.social-impact-hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    height: 80vh;
    color: white;
    max-width: 90%;
    margin: auto;
    font-family: 'jeko-medium';
}

.social-impact-hero-section h1 {
    font-size: 64px;
    font-weight: 100;
    max-width: 1247px;
}

.social-impact-hero-section h2 {
    font-weight: 100;
    font-size: 24px;
    font-family: 'DM Sans';
}

.social-business-section1 {
    display: block;
    background-color: black;
    border-radius: 53px;
    position: relative;
    width: 100%;
   
}

.stats-area {
    border-radius: 22px;
    color: white;
    max-width: 90%;
    padding: 100px 260px 0;
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    margin: 3;
    font-size: 2rem;
}

.stats-area h2 {
    font-size: 32px;
    font-family: 'jeko-medium';
    font-weight: normal;
}

.social-business-section-info {
    flex: 1; /* The right-side div takes up the remaining space */
    padding: 20px; 
    color: white;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }



.social-img {
    max-height: max(70vh,500px);
    max-width: 45vw;
    object-fit: cover;
    border-radius: 13px;
    margin-right:90px;
}

.social-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 40%;
}

.social-business-title{
    font-family: 'jeko-medium';
    font-weight: 300;
    font-size: 4.5rem;
    margin-bottom: 2rem;
}

.social-business-description {
    font-family: 'DM Sans';
    font-weight: 200;
    font-size: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.beyond-title {
    color:black;
}

.beyond-description {
    color: #000;
}



.right-section {
    width: 100vw;
    height: 90vh;
    background-color: #ececec;
    display: grid;
    place-items: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.mindset-picture-text {
    display: flex;
    gap: 10%;
    width: 80%;
    max-height: 80vh;
    justify-content: space-between;
    align-items: center;
}

.mindset-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
}

.mindseth1 {
    font-family: 'jeko-medium';
    font-weight: 500;
    font-size: 4.6rem;
    margin-bottom: 2rem;
}

.mindsetp {
    font-family: 'DM Sans';
    font-weight: 200;
    font-size: 2.1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.mindset-picture1 {
    border-radius: 2rem;
    max-height: max(70vh,500px);
    max-width: 45vw;
    object-fit: cover;
}

.open-knowledge {
    background-color: #000;
    color: white;
}

.left-section {
    width: 100vw;
    height: 90vh;
    background-color: #ececec;
    display: grid;
    place-items: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.beyond-business {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.beyond-business-image {
    max-height: max(70vh,500px);
    max-width: 45vw;
    object-fit: cover;
}

.project-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
}


.project-section-title {
    text-align: center;
    padding: 80px 0;
    
}

.project-section-title h1 {
    color: #000;
    font-size: 3rem;
    font-family: 'DM Sans';
    font-weight: normal;
}


.project-section-banner {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slider-container {
    display: flex;
    animation: scroll 150s linear infinite;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
}

.slide {
    min-width: 300px; /* Adjust the width of each logo as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px; /* Adjust the spacing between logos as needed */
}

.slide img {
    max-height: 60px;
    width: -moz-fit-content;
    width: fit-content;
    vertical-align: middle;
    margin: 0 auto;
    display: inline-block;
    object-fit: contain;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}


.social-impact-conclusion {
    display: flex;
    margin: auto;
    height: 50vh;
    align-items: center;
    justify-content: center;
}

.social-impact-conclusion h1{
    color: #000;
    text-align: center;
    font-size: 38.4px;
    font-family: 'DM Sans';
    font-weight: normal;
}

.join-btn {
    font-weight: bold;
}

.join-btn:hover {
    text-decoration: underline;
    font-size: 2.3rem;
}
  
.new-line {
    display: block;
}

.social-impact-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    height:40vh;
    background-color:black;
    padding-inline: 0.5rem;
    padding-top: 3rem;
    max-width: 100%;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    color: white;
}

.social-impact-footer-contacts {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 1.5rem 1rem;
    border-top: 1px solid white;
}

.footer-inner {
    max-width: 90%;
    margin: auto;
}

.footer-divs {
    margin-right: 40px;
}

.footer-divs h2 {
    font-size: 19.2;
    text-decoration: underline;
    font-family: 'jeko-medium';
}

.footer-divs p {
    font-size: 17.6px;
    font-family: 'DM Sans';
}

.footer-divs p:hover {
    text-decoration: underline;
}

.social-impact-footer-logo {
    display: flex;
    justify-content: space-between;
}

.social-media-icons {
    display: flex;
}

.social-media-icons img {
    margin-right: 10px;
}

/* Media query for phones (max-width: 480px) */
@media (max-width: 480px) {
    .nav-header {
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .nav-items {
        gap: 15px;
        font-size: 16px;
    }

    .logo {
        max-width: 100%;
    }
}

/* Media query for tablets (max-width: 768px) */
@media (max-width: 768px) {
    .nav-header {
        padding-top: 30px;
        padding-bottom: 15px;
    }

    .nav-items {
        gap: 20px;
        font-size: 17px;
    }

    .logo {
        max-width: 100%;
    }
}

/* Media query for larger screens (min-width: 1024px) */
@media (min-width: 1024px) {
    .nav-header {
        padding-top: 40px;
        padding-bottom: 20px;
    }

    .nav-items {
        gap: 25px;
        font-size: 18px;
    }

    .logo {
        max-width: 1250px;
    }
}